<div class='row justify-content-md-center'>
  <div class='col-sm-8 text-center'>
    <div class='card'>
      <div class='card-body' id='movie-details'>
        <h5 class='card-title'>Movie Party Details</h5>
        <%= form_with url: movie_party_index_path, local: true do |f| %>
          <%= f.hidden_field :movie_id, value: @movie.id %>
          <%= f.hidden_field :movie_poster_path, value: @movie.backdrop_path %>
          <div class='form-group row'>
            <%= f.label :movie_title, class:'col-sm-4 col-form-label' %>
            <div class='col-sm-8'>
              <%= f.text_field :movie_title, readonly: true, value: @movie.title, class:'form-control-plaintext'%>
            </div>
          </div>
          <div class='form-group row'>
            <%= f.label :duration_of_party, class:'col-sm-4 col-form-label' %>
            <div class='col-sm-8'>
              <%= f.text_field :duration_of_party, value: @movie.runtime, class:'form-control' %>
            </div>
          </div>
          <div class='form-group row'>
            <%= f.label :date_of_viewing, class:'col-sm-4 col-form-label' %>
            <div class='col-sm-8'>
              <%= date_select 'date_of_viewing', 'written_on' %>
            </div>
          </div>
          <div class='form-group row'>
            <%= f.label :time_of_viewing, class:'col-sm-4 col-form-label' %>
            <div class='col-sm-8'>
              <%= f.text_field :time_of_viewing, class:'form-control' %>
            </div>
          </div>
          <h5>Invite Friends</h5>
          <table class='table' id='friends-list'>
            <thead>
              <tr>
                <th>Friend's Email</th>
                <th>Invite?</th>
              </tr>
            </thead>
            <tbody>
              <% @friends&.each do |friend| %>
                <tr id='friend-<%=friend.id%>'>
                  <td><%= friend.email%></td>
                  <td><%= f.check_box "friends[email_#{friend.id}]", { checked: false }, friend.email, 'false' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= f.submit 'Create Party', class:'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
