<div class='row justify-content-md-center'>
  <div class='col-sm-3 text-center pt-5'>
  <h5>
    <%= link_to 'Find Top Rated Movies', movies_path(search_by_rating: true), method: :post, class:'badge badge-pill badge-primary btn-block' %>
    <%= link_to 'Find Trending Movies', movies_path(search_trending: true), method: :post, class:'badge badge-pill badge-primary btn-block' %>
    <%= link_to 'Find Upcoming Movies', movies_path(search_upcoming: true), method: :post, class:'badge badge-pill badge-primary btn-block' %>
  </h5>
  </div>
</div>

<div class='row justify-content-md-center'>
  <div class='col-sm-5 text-center pb-5 pt-5'>
    <h4>OR</h4>
  </div>
</div>

<div class='row justify-content-md-center'>
  <div class='col-sm-5 text-center'>
    <%= form_with url: movies_path, local: true, class:'form-inline' do |f| %>
      <div class='form-group mx-sm-3 mb-2'>
        <%= f.label :movie_title, 'Search by Title', class:'sr-only' %>
        <%= f.text_field :movie_title, class: 'form-control', placeholder: 'Movie Title' %>
      </div>
      <%= f.submit 'Find Movies', class:'btn btn-primary btn-sm mb-2' %>
    <% end %>
  </div>
</div>

<table class='table' id='movies-list'>
  <thead>
    <tr>
      <th></th>
      <th>Movie Title</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr>
        <td><%=index + 1%></td>
        <td><%= link_to movie['original_title'], movie_url(movie['id']), class:'btn btn-link'%></td>
        <td>Vote Average: <%= movie['vote_average']%></td>
      </tr>
    <% end %>
  </tbody>
</table>
