<h1><%= @movie['title'] %></h1>
<h5>Vote Average: <%= @movie['vote_average'] %></h5>
<h5>Run Time: <%= @movie['runtime'] %></h5>
<h5>Genre(s): <%= @movie['genres'][0]["name"] %></h5><hr>
<h5>Summary: <%= @movie['overview'] %></h5>
<h5>Cast: <%=  %></h5><hr>
<h5>Reviews: <%=  %></h5>
