<div class='row text-center'>
  <div class='col'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent ac mauris eu libero ultricies vehicula sed finibus felis.
      Praesent at elementum mi, sed pharetra metus. Curabitur fermentum placerat tincidunt.
      Suspendisse potenti. Maecenas libero diam, consequat eget massa placerat, fringilla
      faucibus diam. Quisque posuere lorem sit amet eros commodo posuere. Maecenas volutpat, odio non
      fringilla laoreet, tellus tortor consequat orci, commodo gravida metus metus nec odio.
    </p>
  </div>
</div>

<div class='row justify-content-md-center'>
  <div class='col-sm-5' id='login-form'>
    <%= form_with model: User.new, url: login_path, local: true do |f| %>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, required: true, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, required: true, class:'form-control' %>
      </div>

      <%= f.submit 'Login', class:'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class='row text-center'>
  <div class='col'>
    <%= link_to "New to Viewing Party? Register Here", new_register_path, class: 'btn btn-link' %>
  </div>
</div>
