<div class='row'>
  <div class='col'>
    <h2>Friends</h2><hr>
  </div>
</div>
<div class='row'>
  <div class='col-sm-5' id='search-friend-form'>
    <%= form_with url: dashboard_path, local: true, method: :get do |f| %>
      <%= f.label :find_friend_by_email, "Find Friend"%>
      <%= f.text_field :find_friend_by_email %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col' id='found-user'>
    <% if @found_friend %>
      <%= @found_friend.email %>
      <%= link_to 'Add Friend', dashboard_path(email: @found_friend.email), method: :post %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col' id='friends-list'>
    <% if @friends.empty?%>
      <p>You currently do not have friends</p>
    <% else %>
      <% @friends.each do |friend| %>
        <div class="card">
          <div class="card-body">
            <%= friend.email %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h2>Movie Parties</h2><hr>
<div class="d-inline-flex p-2 bd-highlight" id='movie-parties'>
  <% if !@hosted_parties.empty? %>
    <% @hosted_parties.each do |party| %>
      <div class="card" style="width: 18rem;" id='movie-party-<%= party.id%>'>
        <img src="https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_1280.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Hosting</h5>
          <p class="card-text text-center"><%= party.movie_title %></p>
          <p class="card-text text-center"><%= party.time_date %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if !@user_invitations.empty? %>
    <% @user_invitations.each do |party| %>
      <div class="card" style="width: 18rem;" id='movie-party-<%= party.id%>'>
        <img src="https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_1280.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Invited</h5>
          <p class="card-text text-center"><%= party.movie_title %></p>
          <p class="card-text text-center"><%= party.time_date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
