<h1 class="welcome_banner">Welcome <%= @user.email %>!</h1>

<div class="nav_bar_wrapper">
  <h5>Logged In</h5>
  <h5 class="nav_bar_links"><%= link_to 'Logout', logout_path, method: :delete, class:'btn btn-secondary btn-sm'%></h5>
</div>

<div class="discover_link">
  <%= link_to 'Discover Movies', url: '#', class:'btn btn-secondary btn-sm'%>
</div>


<h2>Friends</h2><hr>

<%= form_with url: dashboard_path, local: true do |f| %>
  <%= f.label :email, "Find Friend"%>
  <%= f.text_field :email %>
  <%= f.submit "Search" %>
<% end %>

<% if !@found_friend.nil? %>
  <%= @found_friend.email %>
  <%= link_to 'Add Friend', dashboard_path(add_friend: @found_friend.email), method: :post%>
<% end %>

<% if @friends.length == 0 %>
  <p>You currently do not have friends</p>
<% else %>
  <% @friends.each do |friend| %>
    <div class="card w-50">
      <div class="card-body">
        <%= friend.email %>
      </div>
    </div>
  <% end %>
<% end %>



<h2>Viewing Parties</h2><hr>
<div class="d-inline-flex p-2 bd-highlight">
  <% if @hosted_parties.length > 0 %>
    <% @hosted_parties.each do |party| %>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_1280.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Hosting</h5>
          <p class="card-text text-center"><%= party.movie_title %></p>
          <p class="card-text text-center"><%= party.movie_poster_path %></p>
          <p class="card-text text-center"><%= party.time_date %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @user_invitations.length > 0 %>
    <% @user_invitations.each do |party| %>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_1280.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Invited</h5>
          <p class="card-text text-center"><%= party.movie_title %></p>
          <p class="card-text text-center"><%= party.movie_poster_path %></p>
          <p class="card-text text-center"><%= party.time_date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
