<div class='row'>
  <div class='col'>
    <h2>Friends</h2><hr>
  </div>
</div>
<div class='row'>
  <div class='col-sm-5' id='search-friend-form'>
    <%= form_with url: dashboard_path, local: true, method: :get do |f| %>
      <%= f.label :find_friend_by_email, "Find Friend"%>
      <%= f.text_field :find_friend_by_email %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col' id='found-user'>
    <% if @found_friend %>
      <div class="card">
        <div class="card-body">
          <%= @found_friend.email %>
          <%= link_to 'Add Friend', friendship_path(email: @found_friend.email), method: :post, class:'badge badge-primary' %>
        </div>
      </div>
    <% end %>
    <br/>
  </div>
</div>

<div class='row'>
  <div class='col' id='friends-list'>
    <% if @friends.empty?%>
      <p>You currently do not have friends</p>
    <% else %>
      <% @friends.each do |friend| %>
        <div class="card">
          <div class="card-body">
            <%= friend.email %>
            <%= link_to 'Remove Friend', friendship_path(email: friend.email), method: :delete, class:'badge badge-pill badge-light',
                data: { confirm: 'Are you sure you wish to remove this friend?' } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h2>Movie Parties</h2><hr>
<div class="d-inline-flex p-2 bd-highlight" id='movie-parties'>
  <% if !@hosted_parties.empty? %>
    <% @hosted_parties.each do |party| %>
      <div class="card" style="width: 18rem;" id='movie-party-<%= party.id%>'>
        <img src="http://image.tmdb.org/t/p/w500/<%= party.movie_poster_path%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center">Hosting</h5>
          <p class="card-text text-center"><%= party.movie_title %></p>
          <p class="card-text text-center"><%= party.viewing_date %></p>
          <p class="card-text text-center"><%= party.viewing_time %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if !@user_invitations.empty? %>
    <% @user_invitations.each do |invitation| %>
      <div class="card" style="width: 18rem;" id='movie-party-<%= invitation.id%>'>
        <img src="http://image.tmdb.org/t/p/w500/<%= invitation.movie_party.movie_poster_path%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center">Invited</h5>
          <p class="card-text text-center"><%= invitation.movie_title %></p>
          <p class="card-text text-center"><%= invitation.movie_party.viewing_date %></p>
          <p class="card-text text-center"><%= invitation.movie_party.viewing_time %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
